li {
    list-style: none;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 200px 1fr;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    /* padding-right: 20px; */
    padding-top: 25px;
    background-color: #00a8e8;
    color: white;
    font-weight: bold;
}

.logo {
    display: flex;
    justify-content: center; 
    gap: 20px;
    align-items: center;
}
.logo-text {
    font-size: 30px;
}
.logo-image {
    height: 50px;
    width: 50px;
    filter: invert(1);
}
.menu-main, .menu-secondary{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-main li, .menu-secondary li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    height: 30px;
    width: 30px;
    color: #F9F9F9;
    filter: invert(1); 
}

#search-icon {
    filter: invert(0); 
}

.icon-text {
    color: #F9F9F9;
    font-size: 18px;
    font-weight: 700;
}


.profile-image {
    height: 55px;
    width: 55px;
    border-radius: 50%;
   
}

.top-section, .bottom-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 10px 40px; */
}

.header-container {
    grid-column: 2/-1;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    background-color: #F9F9F9;
    padding: 10px 30px;
}

 .search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#search-field {
    height: 40px;
    width: 700px;
    background-color: #e0e0e0;
    /* border-radius: 5%; */
}
.profile {
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
}

.welcome {
    display: flex;
    align-items: center;
    gap: 25px;
}
.welcome #welcome-profile-picture {
    width: 70px;
    height: 70px;
}

.hi {
    font-size: 20px;
}
.name {
    font-size: 30px;
    font-weight: bold;
}

.dataButtons {
    display: flex;
    /* justify-content: center; */
    gap: 20px;
}

button {
    background-color: #00a8e8;
    border-radius: 20%;
    color: #F9F9F9;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.main-content {
    grid-column: 2/-1;
    grid-row: 2/-1;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 385px;
    gap: 25px;
    padding: 20px 25px;
}

.projects{
    grid-column: 1/2;
    grid-row: 1/-1;
    display: flex;
    flex-direction: column;
    /* gap: 50px; */
}
.projects-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    /* height: 100%; */
}

.project {
    background-color: #F9F9F9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    padding: 25px;
    /* height: 250px; */
    height: 15vh;
    border-left: 8px solid orange;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-title {
    font-size: 20px;
}

.annoucements{
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.annoucement-content, .trending-content{
    background-color: #F9F9F9;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 8px;
}

.trending{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 15px;
}


.trend {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.trend-text {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.trend-text p {
    margin: 10px;
}

.trend-name {
    font-weight: bold;
    font-size: 22px;
}

.trend-content {
    font-size: 18px;
}